.container{
    justify-content: center;
    display: flex;
    border: 2px solid blueviolet;
    padding: 1%;
    background-color: rgb(126, 118, 240);
    width:500px;
    text-align:center;
    margin:5px 394px;
}
input[type=text]:focus {
    border: 3px solid #555;
  }
h3{
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration-color: black;
    font-size:25px;
}
div {
    justify-content: center;
    border-radius : 5px;
    background-color: #f2f2f2;
    padding : 20px;
  }